/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

ul{
    list-style-type:circle;
    margin-top: 10px;
}

ul li{
    align-content: center;
    border-bottom : 1px solid black;
    
}

.list-wrapper{
    background-color: navajowhite;
    min-height: 300px;
    border-radius: 25px;
}

.completed{
    text-decoration: line-through;
}